# Importing libraries

In [19]:
#Importing Libraries 
import pandas as pd
import numpy as np
import os 

path = r'C:\Users\ANITA BOADU\Achievement 4'

# Import the dataframe ords_prods_merge as 
ords_prods_merge = pd.read_pickle(os.path.join(path,'Data','Prepared Data','ords_prods_merge.pkl'))

# Create the first 1,000,000-row subset
df = ords_prods_merge[:1000000]

In [2]:
df.shape

(1000000, 16)

In [3]:
df.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77.0,7.0,9.0
1,1,2398795,1,prior,2,3,7,15.0,10258,2,0,both,Pistachios,117.0,19.0,3.0
2,1,2398795,1,prior,2,3,7,15.0,12427,3,1,both,Original Beef Jerky,23.0,19.0,4.4
3,1,2398795,1,prior,2,3,7,15.0,13176,4,0,both,Bag of Organic Bananas,24.0,4.0,10.3
4,1,2398795,1,prior,2,3,7,15.0,26088,5,1,both,Aged White Cheddar Popcorn,23.0,19.0,4.7

In [4]:
df.groupby('product_name')

########Creates a grouped object where all rows with the same product_name
are grouped together.

By itself, this command does not produce a visible result.

It prepares the data so you can apply operations like counting, summing, or aggregating.

In [5]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              15.933417
2.0              18.234317
3.0              19.150996
4.0              18.969917
5.0              16.163447
6.0              16.552723
7.0              18.890072
8.0              17.262475
9.0              17.123457
10.0             21.159963
11.0             17.553906
12.0             16.715616
13.0             17.608535
14.0             18.689145
15.0             17.075410
16.0             19.057765
17.0             17.389618
18.0             20.536433
19.0             18.806234
20.0             18.384732
21.0             22.412977

#######Groups rows based on department_id and applies the mean function to the order_number column

Returns a table showing the average order number for each department

In [6]:
df.groupby('department_id')['order_number'].mean()

department_id
1.0     15.933417
2.0     18.234317
3.0     19.150996
4.0     18.969917
5.0     16.163447
6.0     16.552723
7.0     18.890072
8.0     17.262475
9.0     17.123457
10.0    21.159963
11.0    17.553906
12.0    16.715616
13.0    17.608535
14.0    18.689145
15.0    17.075410
16.0    19.057765
17.0    17.389618
18.0    20.536433
19.0    18.806234
20.0    18.384732
21.0    22.412977
Name: order_number, dtype: float64

In [7]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1.0              15.933417   2  99
2.0              18.234317   2  98
3.0              19.150996   2  99
4.0              18.969917   2  99
5.0              16.163447   2  99
6.0              16.552723   2  99
7.0              18.890072   2  99
8.0              17.262475   2  91
9.0              17.123457   2  99
10.0             21.159963   2  99
11.0             17.553906   2  99
12.0             16.715616   2  99
13.0             17.608535   2  99
14.0             18.689145   2  99
15.0             17.075410   2  99
16.0             19.057765   2  99
17.0             17.389618   2  99
18.0             20.536433   2  99
19.0             18.806234   2  99
20.0             18.384732   2  99
21.0             22.412977   2  97

########Groups all rows by department_id and For each department, it calculates:Mean (average order number), Minimum order number and the Maximum order number. The result is a table showing how order numbers vary across different departments.

In [24]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby('user_id')['order_number'].transform('max')

In [25]:
ords_prods_merge.head(15)

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,max_order
0,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77.0,7.0,9.0,10
1,1,2398795,1,prior,2,3,7,15.0,10258,2,0,both,Pistachios,117.0,19.0,3.0,10
2,1,2398795,1,prior,2,3,7,15.0,12427,3,1,both,Original Beef Jerky,23.0,19.0,4.4,10
3,1,2398795,1,prior,2,3,7,15.0,13176,4,0,both,Bag of Organic Bananas,24.0,4.0,10.3,10
4,1,2398795,1,prior,2,3,7,15.0,26088,5,1,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,10
5,1,2398795,1,prior,2,3,7,15.0,13032,6,0,both,Cinnamon Toast Crunch,121.0,14.0,4.0,10
6,2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77.0,7.0,9.0,10
7,2,473747,1,prior,3,3,12,21.0,12427,2,1,both,Original Beef Jerky,23.0,19.0,4.4,10
8,2,473747,1,prior,3,3,12,21.0,10258,3,1,both,Pistachios,117.0,19.0,3.0,10
9,2,473747,1,prior,3,3,12,21.0,25133,4,0,both,Organic String Cheese,21.0,16.0,8.6,10
10,2,473747,1,prior,3,3,12,21.0,30450,5,0,both,Creamy Almond Butter,88.0,13.0,3.2,10
11,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77.0,7.0,9.0,10
12,3,2254736,1,prior,4,4,7,29.0,12427,2,1,both,Original Beef Jerky,23.0,19.0,4.4,10
13,3,2254736,1,prior,4,4,7,29.0,10258,3,1,both,Pistachios,117.0,19.0,3.0,10
14,3,2254736,1,prior,4,4,7,29.0,25133,4,1,both,Organic String Cheese,21.0,16.0,8.6,10

In [26]:
ords_prods_merge.head(100)

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,max_order
0,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77.0,7.0,9.0,10
1,1,2398795,1,prior,2,3,7,15.0,10258,2,0,both,Pistachios,117.0,19.0,3.0,10
2,1,2398795,1,prior,2,3,7,15.0,12427,3,1,both,Original Beef Jerky,23.0,19.0,4.4,10
3,1,2398795,1,prior,2,3,7,15.0,13176,4,0,both,Bag of Organic Bananas,24.0,4.0,10.3,10
4,1,2398795,1,prior,2,3,7,15.0,26088,5,1,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,16,1199898,2,prior,6,2,9,13.0,32052,5,0,both,Organic Brown Rice Cake Salt-Free,78.0,19.0,4.3,14
96,16,1199898,2,prior,6,2,9,13.0,27344,6,1,both,Uncured Genoa Salami,96.0,20.0,14.8,14
97,16,1199898,2,prior,6,2,9,13.0,24852,7,1,both,Banana,24.0,4.0,12.3,14
98,16,1199898,2,prior,6,2,9,13.0,45066,8,1,both,Honeycrisp Apple,24.0,4.0,2.5,14
99,16,1199898,2,prior,6,2,9,13.0,27966,9,1,both,Organic Raspberries,123.0,4.0,4.4,14

In [27]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [28]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [29]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [30]:
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    15095623
Loyal customer      10105134
New customer         5156200
Name: count, dtype: int64

########The numbers represent how many orders or customers fall into each loyalty category.
Most customers are regular shoppers, but a large portion are loyal, indicating a healthy returning customer base.
The new customers show ongoing growth potential.